nav {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  background-color: #0c0a2d;
  color: #fff;
  align-items: center;
}

.site-name {
  font-size: 1.5em;
}

.todo-info {
  display: flex;
  gap: 20px;
}
